version: "3.9"

services:
  acessly-web:
    build: .
    container_name: acessly-web
    ports:
      - "8081:8081"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - EXPO_NO_TELEMETRY=1
      - CI=false
    command: ["npx", "expo", "start", "--web"]

  acessly-mobile:
    build: .
    container_name: acessly-mobile
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - EXPO_NO_TELEMETRY=1
      - CI=false
    command: ["npx", "expo", "start", "--tunnel"]
