version: "3.9"

services:
  acessly-web:
    build: .
    container_name: acessly-web
    ports:
      - "8081:8081"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - EXPO_NO_TELEMETRY=1
      - CI=true
    command: ["npx", "expo", "start", "--web"]
